@import "/styles.css";



/*modified code from Dudley Storey at codepen, available https://codepen.io/dudleystorey/pen/kBrWvm[viewed 29-11-2023]*/
@keyframes slides {
  0% {
    left: 0%;
  }
  20% {
    left: -50%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slides-backwards {
  0% {
    left: -400%;
  }
  20% {
    left: -350%;
  }
  25% {
    left: -300%;
  }
  45% {
    left: -300%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

div#slider {
  margin-top: 2em;
  overflow: hidden;
  width: 100%;
  max-height: auto;
  border: var(--my-border);
  border-image: var(--my-golden-frame) 1;
  box-shadow: var(--my-shadow-light);
}
div#slider figure img {
  max-width: 10%;
  max-height: fit-content;
  float: left;
  box-shadow: var(--my-shadow-carousel);
}

.api-image:hover {
  cursor: pointer;
  filter: grayscale(70%);
  transition: 500ms;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 10px;
  border: var(--my-border-thick);
  border-image: var(--my-golden-frame) 1;
}

.fa-arrow-left {
  position: relative;
  max-width: 2em;
  max-height: 2em;
}

.fa-arrow-left:hover {
  opacity: 60%;
  border: var(--my-border);
}

.fa-arrow-right {
  position: relative;
  max-width: 2em;
  max-height: 2em;
}

.fa-arrow-right:hover {
  opacity: 60%;
  border: var(--my-border);
}

.fa-arrow-left,
.fa-arrow-right {
  opacity: 75%;
}

.carouselflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

h2 {
  font-size: medium;
  text-align: center;
}

@media only screen and (max-width: 3500px) and (min-width: 1921px) {

  .article-framed span{
    font-size: x-large;

  }

  @keyframes slides {
    0% {
      left: 0%;
    }
    20% {
      left: -50%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -150%;
    }
    70% {
      left: -150%;
    }
    75% {
      left: -200%;
    }
    95% {
      left: -200%;
    }
    100% {
      left: -210%;
    }
  }
  
  @keyframes slides-backwards {
    0% {
      left: -210%;
    }
    20% {
      left: -200%;
    }
    25% {
      left: -200%;
    }
    45% {
      left: -150%;
    }
    50% {
      left: -150%;
    }
    70% {
      left: -100%;
    }
    75% {
      left: -100%;
    }
    95% {
      left: -50%;
    }
    100% {
      left: 0%;
    }
  }


  .fa-solid{
  padding: 3em;
  opacity: none;
}
}