@import "/styles.css";

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 50vw;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 1.5em;
  border: var(--my-border) var(--my-sky-blue);
  box-shadow: var(--my-shadow-lighter);
  padding: 2em;
}

input,
textarea {
  font-family: "Quattrocento Sans", sans-serif, "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: large;
  color: var(--my-golden-black);
  border: 2px solid var(--my-sky-blue);
  box-shadow: var(--my-shadow-lighter);
  padding: 0.5em;
}

label {
  color: var(--my-golden-black);
  font-size: medium;
  font-family: "Merriweather Sans", sans-serif, Arial, Helvetica, sans-serif;
}

form,
p {
  color: red;
  font-size: smaller;
}
