@import "/styles.css";

.wp-block-image img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  border: var(--my-border);
  border-image: var(--my-blue-frame) 1;
  box-shadow: var(--my-shadow-lighter);
}

ul li {
  text-decoration: dotted;
}

article,
a {
  font-size: 20px;
  color: var(--my-golden-black);
  font-weight: 200;
  text-decoration: none;
}

.article-container {
  max-width: 50vw;
  margin: 0 auto;
}

.article-container,
list {
  font-family: "Quattrocento Sans", sans-serif, "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: var(--my-golden-black);
}

h1 {
  font-size: xx-large;
  text-align: center;
}
