@import "/styles.css";

h1 {
  text-align: center;
}

/*styling images from the API call*/
.api-image {
  box-shadow: var(--my-shadow-lighter);
  max-width: 200px;
  margin: 0 auto;
}
/*styling both title and images*/
.card {
  border: var(--my-border);
  border-image: var(--my-blue-frame) 1;
  box-shadow: var(--my-shadow-lighter);
  max-width: 200px;
  height: 300px;
  margin: 0.5em;
  padding: 0.2em;
}

p {
  display: block;
  font-weight: bolder;
  max-width: 200px;
  word-wrap: break-word;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
