@import "/styles.css";

.wp-block-image img {
  display: block;
  max-width: 50vw;
  height: auto;
  margin: 0 auto;
  border: var(--my-border);
  border-image: var(--my-blue-frame) 1;
  box-shadow: var(--my-shadow-lighter);
}

ul li {
  text-decoration: dotted;
}

#nav-nodecor {
  text-decoration: none;
}
