/*Global styling*/

:root {
  --my-light-gold: #f4a910;
  --my-dark-gold: #c19c4e;
  --my-golden-black: #32312c;
  --my-limestone: #ac7a57;
  --my-sky-grey: #799aad;
  --my-sky-dark-grey: #5d686e;
  --my-sky-blue: #6bbbec;
  --my-white: #ede7da;
  --my-golden-frame: linear-gradient(
    to bottom,
    var(--my-light-gold),
    var(--my-golden-black)
  );
  --my-shadow: 0px 15px 5px var(--my-sky-dark-grey);
  --my-shadow-light: 0px 8px 8px var(--my-sky-dark-grey);
  --my-shadow-lighter: 0px 2px 3px var(--my-sky-dark-grey);
}

h1 {
  font-family: "Averia Sans Libre", sans-serif, "Times New Roman", Times, serif;
  color: var(--my-golden-black);
}
h2,
a {
  font-family: "Merriweather Sans", sans-serif, Arial, Helvetica, sans-serif;
  color: var(--my-golden-black);
}
h3 {
  font-family: "Ingrid Darling", cursive, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  color: var(--my-golden-black);
  text-shadow: var(--my-shadow-lighter);
}

p {
  font-family: "Quattrocento Sans", sans-serif, "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: larger;
  color: var(--my-golden-black);
}

a,
ul,
li {
  display: inline;
  text-decoration: none;
  list-style: none;
  padding: 0.2em;
  color: var(--my-white);
  text-shadow: 0px 3px 5px var(--my-golden-black);
}

a:hover {
  font-weight: bolder;
  transition-delay: 50ms;
  text-shadow: 3px 3px 3px var(--my-golden-black);
}

.pyramid {
  text-shadow: var(--my-shadow-lighter);
}

/*image from index page*/
.cooking-scene {
  display: block;
  border: 3.5px solid;
  border-image: var(--my-golden-frame) 1; /* Here I have used a Gradient border-styling technique, available at https://stackoverflow.com/questions/2717127/how-to-do-gradient-borders-in-css[viewed on 6. November 2023]*/
  box-shadow: var(--my-shadow-light);
  margin: 0 auto;
  max-width: 20vw;
}

/*Header and footer*/
#Headerflex ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  border: solid 3px var(--my-golden-black);
  background-color: var(--my-limestone);
  box-shadow: var(--my-shadow);
  max-height: 9px;
}

#Footerflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  font-weight: bold;
  padding: 1em;
  border: solid 2.5px var(--my-golden-black);
  margin: auto;
}

#Footerflex,
span {
  font-family: "Quattrocento Sans", sans-serif, "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

#insta {
  color: var(--my-light-gold);
  font-weight: 500;
}

.blog-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 50px;
}

.slogan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.teaser {
  border: 3.5px solid;
  border-image: var(--my-golden-frame) 1;
  padding: 1.5em;
  max-width: 20vw;
  margin: 1em;
}

.teaser h1 {
  display: block;
  text-align: center;
}

.teaser span {
  display: table; /*here I am using dislay table and a padding of 0.5em, to create breaks in the article, without using the <br> tag. available at https://careerkarma.com/blog/css-line-break/[viewed on 6. november 2023]*/
  padding: 0.5em;
  font-size: large;
}

main {
  border: 3.5px solid;
  border-image: var(--my-golden-frame) 1;
  padding: 1.5em;
  margin: 3em;
  box-shadow: var(--my-shadow-lighter);
}
